#feed {
  margin: 0 -$content-padding;

  // Write post
  .write-post {
    padding: 1.5em $content-padding 1.5em;

    input {
      padding: .5em .75em;
    }
  }

  // Posts
  .post {
    $post-gutter: 1.4em;
    $post-image-padding: 0px;
    $post-image-width: 4em;
    $post-color: $base-font-color;
    $post-background: lighten($base-accent-color, 15);
    $post-detail-color: transparentize($post-color, .5);
    $post-image-vert-alignment: top;

    display: table;
    width: 100%;
    padding: 2.5em $content-padding 1.5em;
    border-bottom: 1px solid transparentize($post-color, .9);
    box-shadow: inset 0 20px 30px -10px rgba(#333, 0.1);

    .post-image,
    .post-content {
      display: table-cell;
      vertical-align: $post-image-vert-alignment;
    }

    .post-image {
      padding-right: $post-gutter;

      > img {
        width: $post-image-width;
        height: auto;
        border-radius: $base-border-radius;
        padding: $post-image-padding;
        background: $post-background;
        display: block;
        max-width: none;
      }
    }

    .post-content {
      width: 100%;

      h1 {
        font-size: 1em;
        margin-bottom: .5em;
      }

      p {
        margin-bottom: .5em;
      }

      p.post-detail {
        font-style: italic;
        font-size: .9em;
        color: $post-detail-color;
      }
    }
  }

  // Comments
  .comments {
    color: #666;
    font-size: .8em;

    .comment-count {
      padding: 4px 0;
      color: #ccc;
    }

    ol {
      li {
        position: relative;
        padding: 10px 0 10px 50px;
        border-top: 1px solid rgba(#000, 0.1);

        .comment-avatar {
          position: absolute;
          margin-top: 4px;
          left: 0;
          width: 36px;
          height: 36px;
          border-radius: $base-border-radius;
        }
        .comment-title {
          margin-bottom: 4px;
          font-weight: bold;
        }
        .comment-body {
          margin-bottom: 4px;
          line-height: 1.4em;
        }
        .comment-meta {
          color: #ccc;
          font-size: .9em;
        }
      }
    }

    .comment-new {
      margin-top: 5px;

      textarea {
        padding: 10px;
      }
    }
  }
}
