// In `app/styles/main.scss`
@import 'bourbon';
@import 'base/base';
@import 'neat';
@import 'feed';

body {
  margin: 0;
}

#sidebar {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebar-width;
  height: 100%;
  padding: $content-padding;
  background: #ededed;
  background: #82a7db;
  color: #fff;
  border-right: 1px solid #ddd;
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.4);

  header {
    h1 {
      font-size: 3em;
    }
    h2 {
      margin-bottom: 25px;
      font-size: golden-ratio(3em, -1);
    }
  }
}

#container {
  position: relative;
  width: 100% - $sidebar-width;
  left: $sidebar-width;
  padding: $content-padding;
  padding-top: $header-height + $content-padding;

  #container-header {
    z-index: 50;
    position: fixed;
    top: 0;
    right: 0;
    left: $sidebar-width;
    height: $header-height;
    padding: 10px 10px 0 $content-padding;
    background: rgba(#f5f5f5, .9);
    border-bottom: 1px solid rgba(#000, 0.1);
    color: #666;

    h3 {
      float: left;
      font-weight: 300;
    }

    .user {
      float: right;
      font-size: .8em;

      a {
        display: inline-block;
        margin-right: 5px;
        padding: 4px 6px;
        background: #ddd;
        color: #666;
        font-size: .7em;
        text-transform: uppercase;
        border-radius: 3px;
      }

      .avatar {
        display: inline-block;
        width: 36px;
        height: 36px;
        margin-left: 5px;
        border-radius: 3px;
        background-color: #ccc;
        vertical-align: middle;
      }
    }
  }
}

.avatar {
    height: 50px;
    width: 50px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
