<section id="feed" ng-controller="FeedCtrl">

  <div class="comment question">
    <div class="comment-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
    </div>
    <div class="comment-content">
      <h1>Add comment</h1>
      <form ng-submit="addComment()">
        <textarea ng-model="body" name="body"></textarea>
        <p><input class="button" type="submit" value="Submit"></p>
      </form>
    </div>
  </div>

  <ul ng-repeat="comment in comments">
    <li class="comment question">
      <div class="comment-image">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
      </div>
      <div class="comment-content">
        <h1>{{comment.author}}</h1>
        <p>{{comment.body}}</p>
        <p class="comment-detail">{{comment.date}}| <a href="#">Add comment</a></p>
      </div>
    </li>
  </ul>
</section>
