<header id="container-header">
  <h3>Feed</h3>
  <div class="user">
    <div ng-cloak ng-show-auth="login" ng-controller="LoginController">
      <a href="#" ng-click="logout()">Log Out</a>
      <span ng-bind="currentUser.displayName"></span>
      <img ng-src="{{currentUser.avatarLink}}" class="avatar">
    </div>
    <div ng-cloak ng-show-auth="['logout','error']">
      <a href="#/login">Log In</a>
    </div>
  </div>
</header>

<div id="feed" ng-controller="FeedCtrl">

  <div class="write-post">
      <form ng-submit="addPost()">
        <textarea ng-model="body" name="body" placeholder="Write something..."></textarea>
        <input type="submit" value="Share">
      </form>
  </div>

  <ul>
    <li class="post" ng-repeat="post in posts | orderByPriority">

      <div class="post-image">
        <img ng-src="//graph.facebook.com/{{post.uid}}/picture" ng-alt="{{post.authorName}}">
      </div>

      <div class="post-content">
        <h1>{{post.authorName}}</h1>
        <p>{{post.body}}</p>
        <div class="comments">
          <div class="comment-count">{{post.comments.length}} comments</div>
          <ol>
            <li ng-repeat="comment in post.comments | orderByPriority">
              <div class="comment-image">
                <img ng-src="//graph.facebook.com/{{comment.uid}}/picture" ng-alt="{{comment.authorName}}">
              </div>
              <div class="comment-title">{{comment.authorName}}</div>
              <div class="comment-body">{{comment.body}}</div>
              <div class="comment-meta">{{comment.createdAt}}</div>
            </li>
          </ol>

          <div class="comment-new">
            <form ng-submit="addComment(post.$id)">
              <textarea placeholder="Write a comment..." rows="1" ng-model="comments[post.$id]" ng-keydown="enterComment($event, post.$id)" ></textarea>
              <input type="submit">
            </form>
          </div>
        </div>
      </div>

    </li>
  </ul>

</div>
